:root{
    /* Light theme */
    --light-primary-color: #9D0000;
    --light-secondary-color: #D00000;
    --light-third-color: #660000e1;
    --light-font-color: #000000;
    --light-headers-color: #ffffff;
    --light-enphasis-color: #ff2828;
    --light-background-color: #f4f4f4e2;
    
    /* Dark theme */
    --dark-primary-color: #052c3f;
    --dark-secondary-color: #898989;
    --dark-third-color: #001d3b;
    --dark-font-color: #ffffff;
    --dark-headers-color: #ffffff;
    --dark-enphasis-color: #3283c6;
    --dark-background-color: #0b1220;
}

/* Use of variables according to the theme */

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body.light-theme{
    --primary-color: var(--light-primary-color);
    --secondary-color: var(--light-secondary-color); 
    --font-color: var(--light-font-color); 
    --headers-color: var(--light-headers-color);
    --background-color: var(--light-background-color); 
    --third-color: var(--light-third-color);
    --emphasis-color: var(--light-enphasis-color);
}

body.dark-theme{
    --primary-color: var(--dark-primary-color);
    --secondary-color: var(--dark-secondary-color); 
    --font-color: var(--dark-font-color);
    --headers-color: var(--dark-headers-color);
    --background-color: var(--dark-background-color);
    --third-color: var(--dark-third-color);
    --emphasis-color: var(--dark-enphasis-color);
}

body{
    font-family: sans-serif;
    background-color: var(--background-color); 
    color: var(--font-color); 
    line-height:1.5; 
    transition: background-color 0.3s, color 0.3s; 
}

header{
    text-align: center; 
    color: var(--headers-color);
    background-color: var(--third-color);
    padding:20px; 
}

.navbar{
    display: flex; 
    justify-content: space-around;
    padding: 10px, 20px;
    background-color: var(--third-color);   
}

.nav-link, .theme-button{
    text-decoration: none; 
    font-weight: bold; 
    color: var(--headers-color); 
    cursor: pointer; 
    transition: color 0.3s;
}

.nav-link:hover, .them-button:hover{
    color:var(--emphasis-color); 
}

footer {
    background-color: var(--third-color);
    color: var(--headers-color);
    text-align:center; 
    padding:10px; 
}

.seleccion-tarjetas{
    text-align: center; 
    padding: 20px; 
}

.contenedor-tarjetas{
    display: flex; 
    flex-wrap: wrap; 
    flex-direction:row; 
    height: 600px; 
    justify-content: center; 
    align-items: center; ;
    gap: 20px;
}

.card{
    background-color: var(--primary-color); 
    color: var(--headers-color); 
    border-radius: 10px; 
    padding: 20px; 
    text-align: center; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); 
    transition: transform 0.3s, background-color 0.3s; 
}

.card:hover{
    transform: scale(1.05); 
    background-color: var(--emphasis-color)
}

.especial{
    /* Ocupa más espacio proporcionalmente */
    flex-grow: 2; 
}

.carta-hover:hover{
    transform: rotate(20deg) scale(1.1); 
}

.card:nth-child(1){
    /* Align-self only has effect when the parent has a height defined*/
    align-self: flex-start;
}

.card:nth-child(3){
    order: -1; 
}

/* Formulario */

form{
    display:flex; 
    flex-direction: column;
    gap:10px; 
    width: 400px; 
    margin: 0 auto; 
}

button{
    background-color: var(--primary-color); 
    color: var(--headers-color);    
    border: none; 
}

button:hover{
    background-color:var(--emphasis-color);
}
